annotated-types==0.7.0
bibtexparser==1.4.3
click==8.3.1
dnspython==2.8.0
email-validator==2.3.0
idna==3.11
jinja2==3.1.6
markdown==3.10.1
markdown-it-py==4.0.0
markupsafe==3.0.3
mdurl==0.1.2
packaging==26.0
phonenumbers==9.0.22
pip==25.3
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-extra-types==2.11.0
pygments==2.19.2
pyparsing==3.3.2
rendercv==2.6
rendercv-fonts==0.5.1
rich==14.3.2
ruamel-yaml==0.19.1
shellingham==1.5.4
typer==0.21.1
typing-extensions==4.15.0
typing-inspection==0.4.2
typst==0.14.7
watchdog==6.0.0
